/** Source: http://jsfiddle.net/syahrasi/us8uc/ */
.tabs-menu {
    height: 30px;
    /**float: left;*/
    clear: both;
    padding-left: 0;
    margin: 0;
}

ul {
  list-style-type: none;
}

.tabs-menu ul {
  margin-top: 0;
}

.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    margin-bottom: -2px;
    background-color: #DDDDDD;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
	transition: background-color 0.3s;
}

.tabs-menu li:hover {
    background-color: #FCFCFC;
}

.tabs-menu li.current {
    height: 31px;
    position: relative;
    background-color: #fcfcfc;
    border-bottom: 1px solid #fcfcfc;
    z-index: 5;
}

.tabs-menu li a {
    padding: 5px 10px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none; 
}

.tabs-menu .current a {
    font-weight: bold;
}

.tab {
    border: 1px solid black;    
    background-color: #fcfcfc;
    float: left;    
    min-height: 261px;
	box-shadow: 0px 2px 2px #6f6f6f;
}

.tab-content {    
    padding: 5px;
    display: none;	
}

.tab-content div  {
  margin-top: 0.6em;
  display: inline-block;
  margin-right:10px;
}

#tab-carreira1 {
 display: block;   
}
#tab-carreira2 {
 display: block;   
}